#projects {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--azul-marinho);
}

#projects h2 {
    margin-top: 1.5em;
}

.projects_preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-bottom: 3em;
}

.doIt {
    width: 25%;
    font-size: 20px;
    margin-top: 1em;
    font-weight: 400;
}

.carosel {
    display: flex;
    gap: 2em;
}

.gridprojects {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
}

.oneproject {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    width: 310px;
    height: 195px;
    background-color: var(--off-white);
    transition: .8s;
    overflow: hidden;
    cursor: pointer;
}

.oneproject:hover {
    transform: scale(1.1);
}

#projects a {
    color: var(--branco);
    text-decoration: none;
}

.arrow-prev, .arrow-next {
    display: flex;
    align-items: center;
}

.arrow-prev svg path, .arrow-next svg path {
    fill: var(--off-white);
}

.arrow-prev svg, .arrow-next svg {
    width: 70px;
    height: 70px;
    transition: .3s;
    border-radius: 5em;
    padding: .6em;
    cursor: pointer;
}

.arrow-prev svg:hover, .arrow-next svg:hover {
    
    background-color: var(--off-white);
} 

.arrow-prev svg:hover path, .arrow-next svg:hover path {
    fill: var(--monocrom-d)
}

.ux {
    display:none;
    font-size: 12px;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
}

/* descrição dos projetos */

.project_description {
    width: 25%;
    display: none;
    flex-direction: column;
    transition: .2s;
    padding: 0 2em;
}

.project_description p {
    margin-top: 1em;
    width: 100%;
}
.project_description h3 {
    color: var(--monocrom-b);
    font-size: 2.5em;
    padding-bottom: .2em;
}

.project_description h4 {
    font-weight: 400;
    padding-bottom: .2em;
    color: var(--off-white);
    font-size: 1em;
}

.project_description h5 {
    font-weight: 400;
    color: var(--off-white);
    font-size: 1em;
}

.project_description .course_title {
    text-transform: uppercase;
    color: var(--azul-claro);
}

#project_button {
    width: 100%;
    background-color: var(--off-white);
    padding: .4em;
}

/* faixa 'em breve' */

.band {
    display: block;
    text-align: center;
    height: 20%;
    width: 1000px;
    padding: 2% 0;
    color: var(--branco);
    background-color: var(--monocrom-d);
    transform: rotate(-50deg);
}

.band span {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
}