#projects {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: var(--azul-marinho);
}

#projects h2 {
    margin-top: 1.5em;
}

.projects_preview {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    margin-bottom: 3em;
}

#inicialText {
    width: 100%;
    font-size: 20px;
    margin-top: 1em;
    font-weight: 400;
}

.carosel {
    display: flex;
    gap: 2em;
}

.gridprojects {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2em;
}

.oneproject {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    width: 310px;
    height: 195px;
    background-color: var(--off-white);
    transition: .8s;
    overflow: hidden;
    cursor: pointer;
}

.oneproject:hover {
    transform: scale(1.1);
}

.arrow-prev, .arrow-next {
    display: flex;
    align-items: center;
}

.arrow-prev svg path, .arrow-next svg path {
    fill: var(--off-white);
}

.arrow-prev svg, .arrow-next svg {
    width: 70px;
    height: 70px;
    transition: .3s;
    border-radius: 5em;
    padding: .6em;
    cursor: pointer;
}

.arrow-prev svg:hover, .arrow-next svg:hover {
    
    background-color: var(--off-white);
} 

.arrow-prev svg:hover path, .arrow-next svg:hover path {
    fill: var(--monocrom-d)
}

/* descrição dos projetos */

.project_description {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: .2s;
    padding: 0 2em;
}

.project_description p {
    text-align: center;
    max-width: 90%;
}
.project_description h3 {
    color: var(--monocrom-b);
    font-size: 2.5em;
    padding-bottom: .2em;
}

.project_description h4,
.project_description h5 {
    font-weight: 400;
    color: var(--off-white);
    font-size: 1em;
}

.project_description h5,
.techlogo {
    margin-bottom: 1em;
}

.project_description h4 > span {
    font-size: 1em;
}

.project_description .course_title {
    color: var(--azul-claro);
    font-size: 1.5em;
}

.techlogo {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: .5em;
}

/* ------------------------------- faixa 'em breve' ---------------------------- */

.band {
    display: block;
    text-align: center;
    height: 20%;
    width: 1000px;
    padding: 2% 0;
    color: var(--branco);
    background-color: var(--monocrom-d);
    transform: rotate(-50deg);
}

.band span {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .2em;
}
/*-------------------------- botao visualizar no box ----------------------------*/
@keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.boxContent {
    display: flex;
    gap: 1.6em;
}

.hoverEffect {
    background-color: transparent;
    transition: .5s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    animation: fadeIn .2s ease-in-out;
}

.deployLink,
.githubLink {
    display: none;
    text-decoration: none;
    color: var(--azul-marinho);
    padding: .5em;
    background-color: var(--off-white);
    font-size: 1.2em;
    border-radius: 1em;
    font-weight: bold;
}

.deployLink:hover,
.githubLink:hover {
    color: var(--azul-claro);
}


/*------------------------ projects-preview --------------------------------*/

.project_1 {
    background-image: url(./projectIMG/aluraplus_1.png);
    background-size: cover;
}